
<nav class="top-bar" data-topbar>
 <ul class="title-area">
    
   <li class="name">
     <h1>
       <a href="#">
         <%= current_subdomain %>.croissant.forsale
       </a>
     </h1>
   </li>
 </ul>

 <section class="top-bar-section">
    
   <ul class="right">
     <li class="divider"></li>
     <li>
       <a href="#">Random</a>
     </li>
   </ul>
 </section>
</nav>




<div class="row">
 <div class="large-12 columns">
   <img src=""><br><br>
 </div>
</div>




<div class="row">

 <div class="large-3 panel columns">
   <%= image_tag("hurryupwithmydamn.png") %>

   <h4><%= current_subdomain %></h4>
   
 </div>
</div>


<footer class="row">
<div class="large-12 columns"><hr/>
   <div class="row">

     <div class="large-6 columns">
         <p>© Copyright no one at all. Go to town.</p>
     </div>

     <div class="large-6 columns">
         <ul class="inline-list right">
           <li><a href="kanye.croissant.forsale">Kanye</a></li>
           <li><a href="northwest.croissant.forsale">NorthWest</a></li>
           <li><a href="warm.croissant.forsale">Warm</a></li>
           <li><a href="cold.croissant.forsale">Cold</a></li>
         </ul>
     </div>

   </div>
</div>
</footer>
